.edit-profile {
  background-image: url("../static/img/cirlce-top.png"),
    url("../static/img/circle-bottom.png");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.edit-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-profile__form .app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .edit-profile__data {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1a2a2e;
} */

/* .arrow-btn {
  position: absolute;
  top: 57px;
  transform: rotate(180deg);
  top: 0;
  left: 0;
} */

.edit-profile__item + .edit-profile__item {
  margin-top: 16px;
}

.edit-profile__label {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 37, 61, 0.5);
}

.edit-profile__item .MuiFormControl-root {
  margin-top: 5px;
}

.edit-profile__item select {
  width: 100%;
  padding: 17px;
  background-color: #f6f9fc;
  border: 1px solid #d7dade;
  box-sizing: border-box;
  border-radius: 8px;
}

.edit-profile__item select {
  width: 100%;
  padding: 17px;
  background-color: #f6f9fc;
  border: 1px solid #d7dade;
  box-sizing: border-box;
  border-radius: 8px;
}
