.login {
  background-image: url("../static/img/cirlce-top.png"),
    url("../static/img/circle-bottom.png");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.login__input + .login__input {
  margin-top: 16px;
}

.login__input {
  padding: 17px 16px;
  width: 100%;
  border: 1px solid #d7dade;
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
