.edit-profile {
  background-image: url("../static/img/cirlce-top.png"),
    url("../static/img/circle-bottom.png");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}

.edit-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-profile__form .app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.edit-profile__label {
  margin-bottom: 5px;
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 37, 61, 0.5);
}
