.forgot {
  background-image: url("../static/img/cirlce-top.png"),
    url("../static/img/circle-bottom.png");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
}
