.edit-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-profile__form .app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.edit-profile__item + .edit-profile__item {
  margin-top: 16px;
}

.edit-profile__label {
  display: block;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 37, 61, 0.5);
}

.edit-profile__item .MuiFormControl-root {
  margin-top: 5px;
}

.edit-profile__item select {
  width: 100%;
  padding: 17px;
  background-color: #f6f9fc;
  border: 1px solid #d7dade;
  box-sizing: border-box;
  border-radius: 8px;
}

.edit-profile__input {
  width: 100%;
  padding: 17px;
  background-color: #f6f9fc;
  border: 1px solid #d7dade;
  box-sizing: border-box;
  border-radius: 8px;
}
